 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1259px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 62px auto 0 31px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1002px;
  margin: 53px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 926px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 216px 15px 0 65px;
}

.u-section-1 .u-shape-1 {
  width: 950px;
  height: 585px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -300px auto 0 -49px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -470px 47px 0 31px;
}

.u-section-1 .u-image-1 {
  width: 595px;
  height: 757px;
  margin: -196px -489px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 926px;
}

.u-section-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 683px 31px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 869px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 32px;
    margin-left: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 869px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 611px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 431px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 106px auto 0 99px;
}

.u-section-2 .u-list-1 {
  width: 976px;
  margin: 33px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 535px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-2 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 15px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 15px 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 15px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 15px 30px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-2 .u-text-6 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 15px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 15px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 515px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-gap: 50px 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 3.75rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 123px auto 0 276px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 151px;
  height: auto;
  margin: 9px auto 60px 125px;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 158px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 211px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 158px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 99px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 97px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, black);
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}